<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Log\" />
      <datePattern value="yyyy-MM-dd_'GoodiSystem.txt'" />
      <encoding value="utf-8" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <maximumFileSize value="15MB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="1.2.10.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="tnuott" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = teami-t)(PORT = 1521)))(CONNECT_DATA =(SID = tnuott)));USER ID=COMM_CENTER; password=COMM_CENTER;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="testos" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 128.1.30.3)(PORT = 1521)))(CONNECT_DATA = (SID = TESTOS)));USER ID=COMM_CENTER; password=COMM_CENTER;" providerName="Oracle.ManagedDataAccess.Client" />
    <!--<add name="tnuott" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 128.1.1.109)(PORT = 1521)))(CONNECT_DATA =(SID = DELEKOS)));USER ID=COMM_CENTER; password=cc1234;" providerName="Oracle.ManagedDataAccess.Client"/>-->
  </connectionStrings>
  <appSettings>
    <add key="APIKey" value="aW3I5s8Jbm" />
    <add key="ExecuteTransactionUrl" value="https://goodi.co.il/WebServices/goodifuel.asmx?op=ExecuteTransaction" />
    <add key="GetBalanceUrl" value="https://goodi.co.il/WebServices/goodifuel.asmx?op=GetBalance" />
    <add key="ValidateTokenUrl" value="https://goodi.co.il/WebServices/Wsts.asmx?op=ValidateToken" />
    <add key="GetNewTokenUrl" value="https://goodi.co.il/WebServices/Wsts.asmx?op=GetNewToken" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="addresses" value="tamiro@delek.co.il;daliar@delek.co.il;urid@delek.co.il" />
    <add key="timeToWait" value="5000" />
    <add key="textBoxLines" value="3000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="userName" value="tamiro@delek.co.il"/>
    <add key="password" value="Tt123456"/>
  </appSettings>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>